<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html %>  
  <link rel="stylesheet" href="css/contacts.css"> 
</head>
<body class="layout layout-header-fixed layout-sidebar-fixed">
 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDGNwbBTxnw7_CX22bZQOGIvZO9PsRXLKQ&sensor=false&libraries=places"></script>
 <script type="text/javascript">
  google.maps.event.addDomListener(window, 'load', function () {
    var places = new google.maps.places.Autocomplete(document.getElementById('txtPlaces'));
    google.maps.event.addListener(places, 'place_changed', function () {
      var place = places.getPlace();
      var address = place.formatted_address;
      var latitude = place.geometry.location.lat();
      var longitude = place.geometry.location.lng();
      var mesg = "Address: " + address;
      mesg += "\nLatitude: " + latitude;
      mesg += "\nLongitude: " + longitude;
               // alert(mesg);
             });
  });
</script>    
<% include ../partials/header.html %>  
<div class="layout-main">  
  <% include ../partials/leftsidebar.html %>  
  <div class="layout-content" style="height: auto !important;">
    <div class="contact">                  
     <div class="contact-content-body" id="NewContact">
      <!--<form id="demo-uploader" action="//uploader.naksoid.com/" method="post" enctype="multipart/form-data">-->
      <div class="contact-avatar">
        <label class="contact-avatar-btn">
          <span class="icon icon-camera"></span>
          <input class="file-upload-input" type="file" name="file">
        </label>               
        <img id="imgProfile" class="img-rounded" width="128" height="128" src="img/nophoto.jpg" alt="">               
      </div>  
      <!--   </form>    -->      
      <div class="contact-form">
        <form class="form-horizontal" data-toggle="validator">
          <div class="form-groups">
            <div class="form-group">
              <label class="col-md-3 control-label">First Name</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text" id="f_name" name="f_name"  placeholder="First Name" required>
              </div>
            </div>
           
            <div class="form-group">
              <label class="col-md-3 control-label">Last Name</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text" id="l_name" name="l_name"  placeholder="Last Name" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Email</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="email" id="emailadd"  name="emailadd" placeholder="email address" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Mobile</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text" id="mobile" name="mobile"  placeholder="Mobile" required>
              </div>
            </div>
          </div>       

          <div class="form-group">
            <label class="col-md-3 control-label">Job Title</label>
            <div class="col-md-9 col-lg-6">
              <input class="form-control" type="text" id="j_title" name="j_title"  placeholder="Job Title" required>
            </div>
          </div>
          <div class="form-group"><!---->
           <label class="col-md-3 control-label">Location</label>
           <div class="col-md-9 col-lg-6">
            <input type="text" id="txtPlaces" class="form-control" placeholder="Enter a location" />
          </div>
        </div>

  
        <div class="form-group">
          <label class="col-md-3 control-label">Notes</label>
          <div class="col-md-9 col-lg-6">
            <textarea class="form-control" id="notes"  rows="3"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-primary" type="button" id="btnSave">Save</button>
            <a href="/contacts" class="btn btn-default">Cancel</a>	
          </div>
        </div>                    
        <div class="form-group">
          <div class="col-md-6 col-md-offset-3">

            <label class="label label-success" id="lblSuccess"></label>
            <label class="label label-danger" id="lblfail"></label>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
<% include ../partials/footer.html %>
<script src="js/main.js?v=1.2"></script>
</body>
</html>