<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ../partials/head.html %>
    <!-- /build -->
    <!-- build:css css/login-1.min.css -->
    <link rel="stylesheet" href="css/login.css">
    <!-- /build -->
  </head>
  <body>

    <div class="login">
      <div class="login-body">
        <a class="login-brand" href="/login">
            <img src="img/NannyHQ.png" alt="Nanny HQ" width="120" /> 
        </a>
        <h3 class="login-heading">Reset Your Password</h3>
        <div class="login-form">
          <form data-toggle="validator">
            <div class="form-group">
              <label for="username">Username</label>
              <input id="username" class="form-control" type="text" name="username" spellcheck="false" autocomplete="off" data-msg-required="Please enter your username." required>
            </div>  
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Send password reset email</button>
            </div>
            <div class="form-group">
              <ul class="list-inline">
                <li><small>If you've forgotten your password, we'll send you an email to reset your password.</small></li>
              </ul>
            </div>
          </form>
        </div>
      </div>
      <div class="login-footer">
        <ul class="list-inline">
          <li><a class="link-muted" href="#">Privacy Policy</a></li>
          <li>|</li>
          <li><a class="link-muted" href="#">Terms</a></li>
          <li>|</li>
          <li>© NannyHQ 2016</li>
        </ul>
      </div>
    </div>

    <!-- build:js js/vendor.min.js -->
    <script src="js/vendor.js"></script>
    <!-- /build -->
    <!-- build:js js/elephant.min.js -->
    <script src="js/elephant.js"></script>
    <!-- /build -->
    <script type="text/javascript">
       $(document).ready(function (){
           getuserDetails();
         });
    </script>
  </body>
</html>
