<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.html %>  
  <link rel="stylesheet" href="css/contacts.css"> 
  <style type="text/css"> 
    .spinner:before, .spinner:after {
      left: 40% !important;
      top: 40% !important;
}
  </style>
  
</head>
<body class="layout layout-header-fixed layout-sidebar-fixed"> 
<% include ../partials/header.html %>  
<div class="layout-main">  
  <% include ../partials/leftsidebar.html %>  
  <div class="layout-content" style="height: auto !important;">
    <div class="contact">                  
     <div class="contact-content-body" id="NewContact">
      <h1>Profile</h1>
      <form method="post" enctype="multipart/form-data" action="/uploadPhoto">
        <div class="contact-avatar">
          <label class="contact-avatar-btn">
            <span class="icon icon-camera"></span>
            <input class="file-upload-input" type="file" name="file" id="profilepic">
          </label>               
          <img id="imgProfile" class="img-rounded" width="128" height="128" src="img/nophoto.jpg" alt="">               
        </div>  
      </form>
      <!--       -->      

      <div class="contact-form">
        <form class="form-horizontal" data-toggle="validator">
          <div class="form-groups">
            <div class="form-group">
              <label class="col-md-3 control-label">First Name</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text" id="f_name" name="f_name"  placeholder="First Name" required>
                <input type="hidden" name="hidProId" id="hidProId"/>
              </div>
            </div>           
            <div class="form-group">
              <label class="col-md-3 control-label">Last Name</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text" id="l_name" name="l_name"  placeholder="Last Name" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Email</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="email" id="emailadd"  name="emailadd" placeholder="email address" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">User Name</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text" id="u_name" name="u_name"  placeholder="User Name" required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Password</label>
              <div class="col-md-9 col-lg-6">
                <input class="form-control" type="text" id="password" name="password"  placeholder="password" required>
              </div>
            </div>
          </div>   
           
        </div>

      </div>
      <div class="form-horizontal"> 

        <div class="form-group">
          <div style="width:100%; text-align: center; margin: 0 auto;">
            <div id="spinProfile" class="spinner spinner-primary"></div>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-primary" type="button" id="btnUpdateProfile">Save</button>
            <a href="/" class="btn btn-default">Cancel</a>	
          </div>
        </div>                    
        <div class="form-group">
          <div class="col-md-6 col-md-offset-3">

            <label class="label label-success" id="lblSuccess"></label>
            <label class="label label-danger" id="lblfail"></label>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
<% include ../partials/footer.html %>
<script src="js/main.js?v=1.2"></script>
<script type="text/javascript">
    $(document).ready(function(){ 
      getProfile();
      $("#spinProfile").hide();
    });
</script>
</body>
</html>