<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.html %>
</head>
<body class="layout layout-header-fixed">
 <% include ../partials/header.html %>  
   <div class="layout-main">
      <% include ../partials/leftsidebar.html %> 
     <div class="layout-content">
     	 <div class="layout-content-body">
     	 	 <div class="title-bar">
            <h1 class="title-bar-title">
              <span class="d-ib">Static Report
                <small></small>
              </span>
             

            </h1>
          
          </div>
            <div class="row gutter-xs">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading"><div class="spinner spinner-primary pos-c sq-32" id="rptspinner" style="display: none;"></div></div>
                <div class="panel-body panel-collapse">
                  <table id="tblreport" class="table table-nowrap" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>To</th>
                        <th>From</th>
                        <th>Status</th>
                        <th>Direction</th>
                        <th>Date sent</th>
                      </tr>
                    </thead>                  
                    <tbody>                     
                    
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
     	 </div>
     </div>
   </div>
   <% include ../partials/footer.html %>
	<script src="js/main.js?v=1.2"></script>
    <script src="js/demo.js?v=1.2"></script>
	<script type="text/javascript">
	    $(document).ready(function(){ 
	       getuserDetails();
	       getsmslist();
	    });
	</script>
</body>	
</html>