<!-- views/partials/contactlist.html -->

<div style="width:100%;text-align:center;">
<div id="spinloadcontact" class="spinner spinner-primary pos-r sq-32"></div>  
</div>
<div id="contactlist" class="contact-sidebar-body" style="display:none;">
  <div class="custom-scrollbar">      
    <ul id="contlistSingle" class="contact-list">   
      <li class="contact-list-divider">
        <span class="contact-list-heading">A</span>
        </li>
      <li class="contact-list-divider">
        <span class="contact-list-heading">B</span>
      </li>
      <li class="contact-list-divider">
        <span class="contact-list-heading">C</span>
      </li>
      <li class="contact-list-divider">
        <span class="contact-list-heading">D</span>
      </li>
      <li class="contact-list-divider">
        <span class="contact-list-heading">E</span>
      </li>
      <li class="contact-list-divider">
        <span class="contact-list-heading">F</span>
      </li>
       <li class="contact-list-divider">
        <span class="contact-list-heading">G</span>
      </li>
      <li class="contact-list-divider">
        <span class="contact-list-heading">H</span>
      </li>
       <li class="contact-list-divider">
        <span class="contact-list-heading">I</span>
      </li>
      <li class="contact-list-divider">
        <span class="contact-list-heading">J</span>
      </li>
       <li class="contact-list-divider">
        <span class="contact-list-heading">K</span>
      </li>
       <li class="contact-list-divider">
        <span class="contact-list-heading">L</span>
      </li>
      <li class="contact-list-divider">
        <span class="contact-list-heading">M</span>
      </li>
       <li class="contact-list-divider">
        <span class="contact-list-heading">N</span>
      </li>
       <li class="contact-list-divider">
        <span class="contact-list-heading">O</span>
      </li>
       <li class="contact-list-divider">
        <span class="contact-list-heading">P</span>
      </li>
       <li class="contact-list-divider">
        <span class="contact-list-heading">F</span>
      </li>
      <li class="contact-list-divider">
        <span class="contact-list-heading">Q</span>
      </li>
      <li class="contact-list-divider">
        <span class="contact-list-heading">S</span>
      </li>                 
      <li class="contact-list-divider">
        <span class="contact-list-heading">T</span>
      </li>               
      <li class="contact-list-divider">
        <span class="contact-list-heading">U</span>
      </li>               
      <li class="contact-list-divider">
        <span class="contact-list-heading">V</span>
      </li>               
      <li class="contact-list-divider">
        <span class="contact-list-heading">W</span>
      </li>               
      <li class="contact-list-divider">
        <span class="contact-list-heading">X</span>
      </li>               
      <li class="contact-list-divider">
        <span class="contact-list-heading">Y</span>
      </li>               
      <li class="contact-list-divider">
        <span class="contact-list-heading">Z</span>
      </li>
    </ul>
  </div>
</div>