<!-- views/partials/leftsidebar.html -->

<div class="layout-sidebar">
  <div class="layout-sidebar-backdrop"></div>
  <div class="layout-sidebar-body">
    <div class="custom-scrollbar">
      <nav id="sidenav" class="sidenav-collapse collapse">
        <ul class="sidenav">
          <li class="sidenav-search hidden-md hidden-lg">
         
              <div class="form-group form-group-sm">
                <div class="input-with-icon">
                  <input class="form-control" type="text" placeholder="Search…" >
                  <span class="icon icon-search input-icon"></span>
                </div>
              </div>
           
          </li>
          <li class="sidenav-heading">Navigation</li>   
          <li class="sidenav-item">
            <a href="/contacts" aria-haspopup="true">
              <span class="sidenav-icon icon icon-users"></span>
              <span class="sidenav-label">Contacts</span>
            </a>
          </li>
          <li class="sidenav-item">
            <a href="/Messenger" aria-haspopup="true">
              <span class="sidenav-icon icon icon-comments"></span>
              <span class="sidenav-label">Messenger</span>
            </a>
          </li>
          <li class="sidenav-item">
            <a href="/bulkmessaging" aria-haspopup="true">
              <span class="sidenav-icon icon icon-envelope"></span>
              <span class="sidenav-label">Bulk Messaging</span>
            </a>
          </li>
          <li class="sidenav-item">
            <a href="/report" aria-haspopup="true">
              <span class="sidenav-icon icon icon-list"></span>
              <span class="sidenav-label">Messaging Report</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>